{
  "printWidth": 95,
  "tailwindFunctions": ["cva", "cn"],
  "tailwindAttributes": ["customClasses", "classNames", "styles"],
  "tailwindStylesheet": "./app/globals.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
